openapi: 3.0.1
info:
  title: Baixas v1 API
  version: v1
  description: "A API de Baixas tem como objetivo automatizar e simplificar o processo de conciliação financeira, permitindo o registro e o acompanhamento de pagamentos recebidos. Com ela, é possível criar uma nova baixa, retornar as baixas pelo id da parcela, atualizar parcialmente uma baixa, deletar uma baixa e retornar a baixa, garantindo que o status financeiro das cobranças seja atualizado de maneira precisa e em tempo real, reduzindo o retrabalho e evitando inconsistências entre sistemas.\n\nSe desejar aprofundar o entendimento das regras de negócio aplicadas pelo ERP, recomendamos, de forma opcional a consulta à nossa Central de Ajuda:\n\n**Lançamentos Financeiros:**  \n[https://ajuda.contaazul.com/hc/pt-br/sections/20564397198989-Lan%C3%A7amentos-financeiros-contas-a-receber-e-a-pagar](https://ajuda.contaazul.com/hc/pt-br/sections/20564397198989-Lan%C3%A7amentos-financeiros-contas-a-receber-e-a-pagar)\n"
servers:
- url: https://api-v2.contaazul.com
  description: Servidor de produção
security:
- BearerAuth: []
tags:
- name: v1
  description: Conjunto de recursos para acompanhar e administrar operações relacionadas ao gerenciamento de baixas - esses recursos incluem criar uma nova baixa, retornar as baixas pelo id da parcela, atualizar parcialmente uma baixa por id, deletar baixa por id e retornar a baixa por id
paths:
  /v1/financeiro/eventos-financeiros/parcelas/{parcela_id}/baixa:
    post:
      summary: Criar uma nova baixa
      operationId: criarBaixa
      description: Permite registrar uma nova baixa vinculada a uma parcela específica. Por meio desse endpoint, é possível informar os dados do pagamento, como data, valor, juros, multa, descontos e método de pagamento. Ao registrar a baixa, o sistema atualiza automaticamente o status da parcela refletindo a quitação realizada.
      tags:
      - v1
      parameters:
      - name: parcela_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        example: 35473eec-4e74-11ee-b500-9f61de8a8b8b
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaixaCriacaoRequestDTO'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaixaCriacaoResponseDTO'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
    get:
      summary: Retornar as baixas pelo id da parcela
      operationId: listarBaixas
      description: Permite consultar todas as baixas associadas a uma determinada parcela. Essa funcionalidade possibilita o acompanhamento detalhado de pagamentos realizados, facilitando a auditoria e o controle financeiro.
      tags:
      - v1
      parameters:
      - name: parcela_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        example: 35473eec-4e74-11ee-b500-9f61de8a8b8b
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BaixaResponseDTO'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
  /v1/financeiro/eventos-financeiros/parcelas/baixa/{baixa_id}:
    patch:
      summary: Atualizar parcialmente uma baixa por id
      operationId: atualizarBaixa
      description: Permite atualizar parcialmente as informações de uma baixa. Use a baixa parcial quando houver pagamento ou recebimento parcial de uma fatura, seja por negociação com cliente/fornecedor ou em situações de inadimplência parcial. Por meio desse endpoint, é possível corrigir dados como valor, conta financeira, data de pagamento ou observações, mantendo o controle de versão para evitar conflitos de atualização.
      tags:
      - v1
      parameters:
      - name: baixa_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        example: 35473eec-4e74-11ee-b500-9f61de8a8b8b
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaixaAtualizacaoRequestDTO'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaixaCriacaoResponseDTO'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
    delete:
      summary: Deletar baixa por id
      operationId: deletarBaixa
      description: Permite excluir uma baixa existente do sistema. Esse endpoint deve ser utilizado com cautela, pois a exclusão impacta diretamente o saldo e o histórico financeiro da parcela associada.
      tags:
      - v1
      parameters:
      - name: baixa_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        example: 35473eec-4e74-11ee-b500-9f61de8a8b8b
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
    get:
      summary: Retornar a baixa por id
      operationId: buscarBaixa
      description: Permite consultar os detalhes de uma baixa específica a partir do seu identificador único (baixa_id). O retorno inclui informações completas sobre a baixa, como data de pagamento, valores envolvidos, conta financeira utilizada, método de pagamento e observações registradas.
      tags:
      - v1
      parameters:
      - name: baixa_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        example: 35473eec-4e74-11ee-b500-9f61de8a8b8b
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaixaResponseDTO'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
  /v1/financeiro/eventos-financeiros/contas-a-receber/cobranca/{id_cobranca}:
    get:
      summary: Retornar a cobrança por id
      operationId: buscarCobrancaPorId
      description: Permite consultar os detalhes de uma cobrança específica utilizando seu identificador único (id_cobranca).
      tags:
      - v1
      parameters:
      - name: id_cobranca
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Identificador único da cobrança
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GerarCobrancaResponseDto'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
    delete:
      summary: Deletar cobrança por id
      operationId: deletarCobrancaPorId
      description: Permite cancelar uma cobrança existente identificada por id_cobranca. É recomendada apenas quando a cobrança foi gerada incorretamente ou precisa ser invalidada antes de seu pagamento.
      tags:
      - v1
      parameters:
      - name: id_cobranca
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Identificador único da cobrança
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
  /v1/financeiro/eventos-financeiros/contas-a-receber/gerar-cobranca:
    post:
      summary: Criar uma nova cobrança
      operationId: criarCobranca
      description: Permite criar uma nova cobrança, por meio desse endpoint, é possível informar o valor, data de vencimento, descrição da fatura e demais parâmetros que definem a cobrança. Essa funcionalidade facilita a geração automatizada de cobranças.
      tags:
      - v1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GerarCobrancaRequestDto'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GerarCobrancaResponseDto'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
  /v1/contratos:
    post:
      summary: Criar um novo contrato
      operationId: criarContrato
      description: Permite criar um novo contrato, definindo as informações necessárias para configuração da recorrência, como período, produtos/serviços vinculados e demais parâmetros do contrato.
      tags:
      - v1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContratoToCreateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContratoToCreateResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
    get:
      summary: Retornar os contratos por filtro
      operationId: listarContratos
      description: Permite consultar contratos existentes, com suporte a filtros que facilitam a busca e a gestão dos contratos criados (ex. por cliente, data, status, entre outros).
      tags:
      - v1
      parameters:
      - in: query
        name: pagina
        description: Página
        example: 1
        schema:
          type: number
          default: 1
      - in: query
        name: tamanho_pagina
        description: Tamanho da página (máximo 50)
        example: 10
        schema:
          type: number
          default: 10
      - in: query
        name: campo_ordenado_ascendente
        description: Campo para ordenação ascendente. Se informado ele desconsidera o valor do campo_ordenado_descendente.
        schema:
          type: string
          enum:
          - DATA_INICIO
          - DATA_FIM
          example: DATA_INICIO
      - in: query
        name: campo_ordenado_descendente
        description: Campo para ordenação descendente. Se este campo for utilizado, o campo campo_ordenado_ascendente  não deverá ser informado.
        schema:
          type: string
          enum:
          - DATA_INICIO
          - DATA_FIM
          example: DATA_INICIO
      - in: query
        name: busca_textual
        description: Busca textual por nome
        example: Contrato 1
        schema:
          type: string
        required: false
      - in: query
        name: cliente_id
        description: id do cliente
        schema:
          type: string
          format: uuid
      - in: query
        name: data_inicio
        description: Data inicio do intervalo de busca
        example: '2026-08-15'
        required: true
        schema:
          type: string
          format: date
      - in: query
        name: data_fim
        description: Data fim do intervalo de busca
        example: '2027-08-15'
        required: true
        schema:
          type: string
          format: date
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListagemContratoResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
  /v1/contratos/proximo-numero:
    get:
      summary: Retornar o próximo número do contrato disponível
      operationId: getNextContractNumber
      description: Permite consultar o próximo número de contrato a ser utilizado no momento da criação.
      tags:
      - v1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: integer
                format: int64
                nullable: true
                example: 4512645
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
  /v1/centro-de-custo:
    summary: Endpoint de Centros de Custo
    get:
      summary: Retornar os centros de custo por filtro
      operationId: searchCostCenters
      tags:
      - v1
      description: Permite consultar os centros de custo cadastrados. Suporta filtros como página, tamanho de página, busca por texto, status (ativo/inativo/todos) e ordenação. Utilizado para consultar lançamentos financeiros e facilitar análise orçamentária.
      parameters:
      - in: query
        name: pagina
        description: Página
        example: 1
        schema:
          type: number
        required: true
      - in: query
        name: tamanho_pagina
        description: Tamanho da página
        example: 10
        schema:
          enum:
          - 10
          - 20
          - 50
          - 100
          - 200
          - 500
          - 1000
          type: number
        required: true
      - in: query
        name: busca
        description: Busca textual por nome ou código
        example: '010'
        schema:
          type: string
        required: false
      - in: query
        name: filtro_rapido
        description: Filtro rápido para itens ativos, inativos ou todos
        example: ATIVO
        schema:
          type: string
          enum:
          - ATIVO
          - INATIVO
          - TODOS
        required: false
      - in: query
        name: campo_ordenado_ascendente
        description: Campo para ordenação ascendente. Se informado ele desconsidera o valor do campo_ordenado_descendente. É possível ordenar por nome ou por código
        example: nome
        schema:
          type: string
        required: false
      - in: query
        name: campo_ordenado_descendente
        description: Campo para ordenação descendente. Se este campo for utilizado, o campo campo_ordenado_ascendente  não deverá ser informado. É possível ordenar por nome ou por código
        example: nome
        schema:
          type: string
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CentroDeCustoResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
    post:
      summary: Criar um novo centro de custo
      operationId: createCostCenter
      tags:
      - v1
      description: Permite criar um novo centro de custo, definindo campos como código, nome, parâmetros que ajudam a organizar os custos da empresa de forma estruturada.
      requestBody:
        description: Dados do centro de custo a ser criado
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CriacaoCentroDeCustoRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CentroDeCusto'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
  /v1/financeiro/eventos-financeiros/{id_evento}/parcelas:
    summary: Endpoint de parcelas por evento financeiro
    get:
      summary: Retornar as parcelas pelo id do evento financeiro
      operationId: getInstallmentsByEventId
      description: Permite listar as parcelas vinculadas a um evento financeiro específico (id_evento). Útil para acompanhar cada parcela de um lançamento de contas a pagar ou receber, com seus valores, vencimentos e status e outras informações pertinentes.
      tags:
      - v1
      parameters:
      - name: id_evento
        in: path
        description: uuid ou id legado do evento
        example: 35473eec-4e74-11ee-b500-9f61de8a8b8b
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Parcela'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
  /v1/categorias:
    summary: Endpoint de Categorias
    get:
      summary: Retornar as categorias por filtro
      operationId: searchCategories
      tags:
      - v1
      description: Permite listar as categorias utilizadas para classificação de receitas ou despesas. Auxilia no controle, agrupamento e geração de relatórios financeiros baseados em categorias.
      parameters:
      - in: query
        name: pagina
        description: Página
        example: 1
        schema:
          type: number
        required: true
      - in: query
        name: tamanho_pagina
        description: Tamanho da página
        example: 10
        schema:
          enum:
          - 10
          - 20
          - 50
          - 100
          - 200
          - 500
          - 1000
          type: number
        required: true
      - in: query
        name: campo_ordenado_ascendente
        description: Campo para ordenação ascendente. Se informado ele desconsidera o valor do  campo_ordenado_descendente. É possível ordenar por 'NOME' ou 'TIPO'
        example: NOME
        schema:
          type: string
          enum:
          - NOME
          - TIPO
        required: false
      - in: query
        name: campo_ordenado_descendente
        description: Campo para ordenação descendente. Se este campo for utilizado, o campo campo_ordenado_ascendente não  deverá ser informado. É possível ordenar por 'NOME' ou 'TIPO'
        example: TIPO
        schema:
          type: string
          enum:
          - NOME
          - TIPO
        required: false
      - in: query
        name: busca
        description: Busca textual por nome ou código
        example: '010'
        schema:
          type: string
        required: false
      - in: query
        name: tipo
        description: Tipo da categoria
        example: RECEITA
        schema:
          type: string
          enum:
          - RECEITA
          - DESPESA
        required: false
      - in: query
        name: apenas_filhos
        description: Filtrar apenas categorias filhas
        example: true
        schema:
          type: boolean
        required: false
      - in: query
        name: nome
        description: Nome da categoria
        example: Eletrônicos
        schema:
          type: string
        required: false
      - in: query
        name: permite_apenas_filhos
        description: Permite apenas categorias filhas
        example: true
        schema:
          type: boolean
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  itens_totais:
                    type: integer
                    example: 6
                  itens:
                    type: array
                    items:
                      $ref: '#/components/schemas/Categoria'
                  totais:
                    $ref: '#/components/schemas/Totais'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
  /v1/categorias/configuracao-padrao:
    summary: Configuração padrão de categorias
    get:
      summary: Retornar a configuração de de-para de categorias
      operationId: getDefaultCategoryConfig
      tags:
      - v1
      description: Retorna o de-para entre as operações financeiras e as categorias configuradas para o tenant, incluindo opcionalmente a sugestão padrão de categoria para cada operação.
      parameters:
      - in: query
        name: sugestao_padrao
        description: Quando verdadeiro (padrão), inclui o objeto `sugestao_padrao` em cada item. Quando falso, o campo `sugestao_padrao` é retornado como `null`.
        example: true
        schema:
          type: boolean
          default: true
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ConfiguracaoPadraoCategoria'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
  /v1/financeiro/categorias-dre:
    get:
      summary: Retornar as categorias DRE
      operationId: searchDreCategories
      description: Permite listar as categorias de DRE (Demonstração do Resultado do Exercício) usadas para a estrutura contábil-financeira da empresa, facilitando o fechamento financeiro e contábil.
      tags:
      - v1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EstruturaDRE'
        '401':
          description: Unauthorized
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
  /v1/conta-financeira:
    summary: Endpoint de Contas Financeiras
    get:
      summary: Retornar as contas financeiras por filtro
      operationId: searchFinancialAccounts
      tags:
      - v1
      description: Permite consultar as contas financeiras existentes no sistema (contas bancárias, cartões, poupança, etc.). Suporta filtros como tipo de conta, nome, se estão ativas, entre outros.
      parameters:
      - name: pagina
        in: query
        description: Página
        required: false
        example: 1
        schema:
          type: integer
          default: 1
      - name: tamanho_pagina
        in: query
        description: Tamanho da página
        example: 10
        schema:
          enum:
          - 10
          - 20
          - 50
          - 100
          - 200
          - 500
          - 1000
          type: integer
        required: false
      - name: tipos
        in: query
        description: Lista de tipos de conta
        example: APLICACAO
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - APLICACAO
            - CAIXINHA
            - CONTA_CORRENTE
            - CARTAO_CREDITO
            - INVESTIMENTO
            - OUTROS
            - MEIOS_RECEBIMENTO
            - POUPANCA
            - COBRANCAS_CONTA_AZUL
            - RECEBA_FACIL_CARTAO
      - name: nome
        in: query
        description: Nome da conta
        example: Conta corrente
        required: false
        schema:
          type: string
      - name: apenas_ativo
        in: query
        description: Filtrar apenas contas ativas
        example: true
        required: false
        schema:
          type: boolean
      - name: esconde_conta_digital
        in: query
        description: Esconder contas digitais
        example: true
        required: false
        schema:
          type: boolean
      - name: mostrar_caixinha
        in: query
        description: Mostrar contas de caixinha
        example: true
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  itens_totais:
                    type: integer
                    example: 6
                  itens:
                    type: array
                    items:
                      $ref: '#/components/schemas/ContaFinanceira'
                  totais:
                    $ref: '#/components/schemas/Totais'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
  /v1/conta-financeira/{id_conta_financeira}/saldo-atual:
    summary: Endpoint de saldo atual da conta financeira
    get:
      summary: Retornar o saldo atual pelo id da conta financeira
      operationId: searchBalanceByFinancialAccountId
      tags:
      - v1
      description: Permite obter o saldo atual de uma conta financeira específica identificada por id_conta_financeira. Útil para monitoramento em tempo real de saldos das contas da empresa.
      parameters:
      - name: id_conta_financeira
        in: path
        description: uuid da conta financeira
        example: 35473eec-4e74-11ee-b500-9f61de8a8b8b
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SaldoAtualResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 400
                  message:
                    type: string
                    example: O valor 'fbbccb85-a71a-4dfdb699-56ac1b5f1115' fornecido no parâmetro 'id_conta_financeira' não é um identificador (uuid) válido.
              example:
                code: 400
                message: O valor 'fbbccb85-a71a-4dfdb699-56ac1b5f1115' fornecido no parâmetro 'id_conta_financeira' não é um identificador (uuid) válido.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: The Token has expired.
              example:
                code: 401
                message: The Token has expired.
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 500
                  message:
                    type: string
                    example: Ocorreu um erro inesperado no servidor. Tente novamente mais tarde.
              example:
                code: 500
                message: Ocorreu um erro inesperado no servidor. Tente novamente mais tarde.
  /v1/financeiro/transferencias:
    summary: Endpoint de Transferências entre Contas Financeiras
    get:
      summary: Retornar as transferências entre contas financeiras por filtro
      operationId: searchAccountingExportTransfers
      tags:
      - v1
      description: Permite consultar as transferências realizadas entre contas financeiras mediante filtros como período de datas e contas financeiras específicas. Para viabilizar a conciliação financeira automática e sincronizar corretamente as movimentações no meu sistema.
      parameters:
      - name: pagina
        in: query
        description: Número da página para paginação dos resultados
        example: 1
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: tamanho_pagina
        in: query
        description: Quantidade de itens por página
        example: 10
        required: false
        schema:
          type: integer
          default: 10
          enum:
          - 10
          - 20
          - 50
          - 100
          - 200
          - 500
          - 1000
      - name: ids_conta_financeira
        in: query
        description: Lista de identificadores (UUIDs) das contas financeiras para filtrar as transferências. Retorna transferências onde as contas especificadas sejam origem ou destino.
        example:
        - 35473eec-4e74-11ee-b500-9f61de8a8b8b
        - 8f2a3e45-1c9d-4b3a-a7f1-9e8d7c6b5a4f
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: data_inicio
        in: query
        description: Data inicial do período para filtrar as transferências (formato ISO date)
        example: '2026-01-01'
        required: false
        schema:
          type: string
          format: date
      - name: data_fim
        in: query
        description: Data final do período para filtrar as transferências (formato ISO date)
        example: '2026-12-31'
        required: false
        schema:
          type: string
          format: date
      responses:
        '200':
          description: OK - Retorna a lista paginada de transferências entre contas financeiras
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferenciaContaFinanceiraResponse'
              examples:
                exemplo_sucesso:
                  summary: Exemplo de resposta com transferências
                  value:
                    itens_totais: 2
                    itens:
                    - id: 35473eec-4e74-11ee-b500-9f61de8a8b8b
                      descricao: Transferência para conta poupança
                      valor: 1500.5
                      data: '2026-02-15'
                      origem:
                        data: '2026-02-15'
                        composicao_valor:
                          valor_bruto: 1500.5
                          juros: 0
                          multa: 0
                          valor_liquido: 1500.5
                          desconto: 0
                          taxa: 0
                        conta_financeira:
                          id: 8f2a3e45-1c9d-4b3a-a7f1-9e8d7c6b5a4f
                          nome: Conta Corrente Principal
                          instituicao_bancaria:
                            codigo: 1
                            nome: Banco do Brasil
                      destino:
                        data: '2026-02-15'
                        composicao_valor:
                          valor_bruto: 1500.5
                          juros: 0
                          multa: 0
                          valor_liquido: 1500.5
                          desconto: 0
                          taxa: 0
                        conta_financeira:
                          id: 7d1b2c34-8a5e-4f6d-b9c2-3e4f5a6b7c8d
                          nome: Conta Poupança
                          instituicao_bancaria:
                            codigo: 1
                            nome: Banco do Brasil
                    - id: 9a8b7c6d-5e4f-3a2b-1c0d-9e8f7a6b5c4d
                      descricao: Transferência para investimento
                      valor: 5000
                      data: '2026-02-20'
                      origem:
                        data: '2026-02-20'
                        composicao_valor:
                          valor_bruto: 5000
                          juros: 0
                          multa: 0
                          valor_liquido: 5000
                          desconto: 0
                          taxa: 0
                        conta_financeira:
                          id: 8f2a3e45-1c9d-4b3a-a7f1-9e8d7c6b5a4f
                          nome: Conta Corrente Principal
                          instituicao_bancaria:
                            codigo: 341
                            nome: Itaú
                      destino:
                        data: '2026-02-20'
                        composicao_valor:
                          valor_bruto: 5000
                          juros: 0
                          multa: 0
                          valor_liquido: 5000
                          desconto: 0
                          taxa: 0
                        conta_financeira:
                          id: 6c5d4e3f-2a1b-9c8d-7e6f-5a4b3c2d1e0f
                          nome: Conta Investimento
                          instituicao_bancaria:
                            codigo: 341
                            nome: Itaú
                exemplo_vazio:
                  summary: Exemplo de resposta sem transferências
                  value:
                    itens_totais: 0
                    itens: []
        '400':
          description: Bad Request - Parâmetros inválidos na requisição
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 400
                  message:
                    type: string
                    example: A data de início não pode ser posterior à data de fim.
              examples:
                data_invalida:
                  summary: Erro de validação de datas
                  value:
                    code: 400
                    message: A data de início não pode ser posterior à data de fim.
                uuid_invalido:
                  summary: Erro de UUID inválido
                  value:
                    code: 400
                    message: O valor fornecido no parâmetro 'ids_conta_financeira' não é um identificador (uuid) válido.
        '401':
          description: Unauthorized - Token de autenticação inválido ou expirado
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: The Token has expired.
              example:
                code: 401
                message: The Token has expired.
        '429':
          description: Too Many Requests - Limite de requisições excedido
        '500':
          description: Internal Server Error - Erro interno no servidor
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 500
                  message:
                    type: string
                    example: Ocorreu um erro inesperado no servidor. Tente novamente mais tarde.
              example:
                code: 500
                message: Ocorreu um erro inesperado no servidor. Tente novamente mais tarde.
  /v1/financeiro/eventos-financeiros/contas-a-receber:
    post:
      summary: Criar um novo evento financeiro de contas a receber
      operationId: createReceivableFinancialEvent
      description: Permite criar um novo evento financeiro de contas a receber, passando dados como data de competência, valor, descrição, conta financeira, condições de pagamento, entre outros. Facilita o registro de receitas previstas ou realizadas.
      tags:
      - v1
      requestBody:
        description: Dados do evento financeiro de contas a receber
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventoFinanceiroRequest'
      responses:
        '202':
          description: Evento financeiro de contas a receber criado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProtocolResponseDTO'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
  /v1/financeiro/eventos-financeiros/contas-a-receber/buscar:
    summary: Endpoint de Contas a Receber
    get:
      summary: Retornar as receitas por filtro
      operationId: searchInstallmentsToReceiveByFilter
      description: Permite consultar as parcelas de receitas (contas a receber) mediante filtros como data de vencimento, data de competência, data de pagamento, data de alteração, valor, status, dentre outros. Essa funcionalidade ajuda no controle e análise de entradas financeiras com base nas condições definidas.
      tags:
      - v1
      parameters:
      - name: pagina
        in: query
        description: Página
        example: 1
        required: true
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: tamanho_pagina
        in: query
        description: Tamanho da página
        example: 10
        schema:
          enum:
          - 10
          - 20
          - 50
          - 100
          - 200
          - 500
          - 1000
          type: integer
          minimum: 1
        required: true
      - name: campo_ordenado_ascendente
        in: query
        description: Campo para ordenação ascendente. Se informado ele desconsidera o valor do campo_ordenado_descendente. É possível ordenar por nome
        required: false
        example: nome
        schema:
          type: string
      - name: campo_ordenado_descendente
        in: query
        description: Campo para ordenação descendente. Se este campo for utilizado, o campo campo_ordenado_ascendente não deverá ser informado. É possível ordenar por nome
        example: nome
        required: false
        schema:
          type: string
      - name: descricao
        in: query
        description: Descrição da conta
        example: Conta Corrente
        required: false
        schema:
          type: string
      - name: data_vencimento_de
        in: query
        description: Data de vencimento de (ISO date format)
        example: '2027-08-15'
        required: true
        schema:
          type: string
          format: date
      - name: data_vencimento_ate
        in: query
        description: Data de vencimento até (ISO date format)
        example: '2027-08-20'
        required: true
        schema:
          type: string
          format: date
      - name: data_competencia_de
        in: query
        description: Data de competência de (ISO date format)
        example: '2025-08-15'
        required: false
        schema:
          type: string
          format: date
      - name: data_competencia_ate
        in: query
        description: Data de competência até (ISO date format)
        example: '2025-08-20'
        required: false
        schema:
          type: string
          format: date
      - name: data_pagamento_de
        in: query
        description: Data de pagamento de (ISO date format)
        example: '2025-08-15'
        required: false
        schema:
          type: string
          format: date
      - name: data_pagamento_ate
        in: query
        description: Data de pagamento até (ISO date format)
        example: '2025-08-20'
        required: false
        schema:
          type: string
          format: date
      - name: data_alteracao_de
        in: query
        description: Data de alteração de (ISO 8601, São Paulo/GMT-3)
        example: '2025-10-20T07:00:00'
        required: false
        schema:
          type: string
          format: date-time
      - name: data_alteracao_ate
        in: query
        description: Data de alteração até (ISO 8601, São Paulo/GMT-3)
        example: '2025-10-20T07:59:59'
        required: false
        schema:
          type: string
          format: date-time
      - name: valor_de
        in: query
        description: Valor de
        example: '100'
        required: false
        schema:
          type: string
          pattern: ^[0-9]+(\.[0-9]{1,2})?$
          example: '999.99'
      - name: valor_ate
        in: query
        description: Valor até
        example: '500'
        required: false
        schema:
          type: string
          pattern: ^[0-9]+(\.[0-9]{1,2})?$
          example: '999.99'
      - name: status
        in: query
        description: Status da conta
        example: ATRASADO
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - PERDIDO
            - RECEBIDO
            - EM_ABERTO
            - RENEGOCIADO
            - RECEBIDO_PARCIAL
            - ATRASADO
      - name: ids_contas_financeiras
        in: query
        description: Lista de IDs de contas financeiras
        required: false
        schema:
          type: array
          items:
            type: string
      - name: ids_categorias
        in: query
        description: Lista de IDs de categorias
        required: false
        schema:
          type: array
          items:
            type: string
      - name: ids_centros_de_custo
        in: query
        description: Lista de IDs de centros de custo
        required: false
        schema:
          type: array
          items:
            type: string
      - name: ids_clientes
        in: query
        description: Lista de IDs de clientes
        required: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContasAReceberResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
  /v1/financeiro/eventos-financeiros/contas-a-pagar:
    post:
      summary: Criar um novo evento financeiro de contas a pagar
      operationId: createPayableFinancialEvent
      description: Permite criar um novo evento financeiro de contas a pagar, informando dados como valor, condições de pagamento, descrição, conta financeira, entre outros. Esse endpoint facilita o registro das obrigações financeiras da empresa.
      tags:
      - v1
      requestBody:
        description: Dados do evento financeiro de contas a pagar
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventoFinanceiroRequest'
      responses:
        '202':
          description: Evento financeiro de conta a pagar criado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProtocolResponseDTO'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
  /v1/financeiro/eventos-financeiros/contas-a-pagar/buscar:
    get:
      summary: Retornar as despesas por filtro
      operationId: searchInstallmentsToPayByFilter
      description: Permite consultar as parcelas de despesas (contas a pagar) conforme filtros como data de vencimento, data competência, data de alteração, valor, status, conta financeira, etc. Essa consulta possibilita monitorar as obrigações financeiras pendentes ou pagas, favorecendo a gestão e o planejamento.
      tags:
      - v1
      parameters:
      - name: pagina
        in: query
        description: Página
        example: 1
        required: true
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: tamanho_pagina
        in: query
        description: Tamanho da página
        example: 10
        required: true
        schema:
          enum:
          - 10
          - 20
          - 50
          - 100
          - 200
          - 500
          - 1000
          type: integer
          minimum: 1
      - name: campo_ordenado_ascendente
        in: query
        required: false
        description: Campo para ordenação ascendente. Se informado ele desconsidera o valor do campo_ordenado_descendente. É possível ordenar por id do centro de custo (id),  pelo código (CODIGO), pelo nome (NOME) e por ativo (ATIVO)
        example: nome
        schema:
          type: string
          enum:
          - ID
          - CODIGO
          - NOME
          - ATIVO
      - name: campo_ordenado_descendente
        in: query
        required: false
        description: Campo para ordenação descendente. Se este campo for utilizado, o campo campo_ordenado_ascendente não  deverá ser informado. É possível ordenar por id do centro de custo (id), pelo código (CODIGO), pelo  nome (NOME) ou por ativo (ATIVO)
        example: nome
        schema:
          type: string
          enum:
          - ID
          - CODIGO
          - NOME
          - ATIVO
      - name: descricao
        in: query
        description: Descrição da conta
        example: Pagamento do salário
        required: false
        schema:
          type: string
      - name: data_vencimento_de
        in: query
        description: Date de vencimento de (ISO date format)
        example: '2027-08-15'
        required: true
        schema:
          type: string
          format: date
      - name: data_vencimento_ate
        in: query
        description: Data de vencimento até (ISO date format)
        example: '2027-08-20'
        required: true
        schema:
          type: string
          format: date
      - name: data_competencia_de
        in: query
        description: Data de competência de (ISO date format)
        example: '2025-08-15'
        required: false
        schema:
          type: string
          format: date
      - name: data_competencia_ate
        in: query
        description: Data de competência até (ISO date format)
        example: '2025-08-20'
        required: false
        schema:
          type: string
          format: date
      - name: data_pagamento_de
        in: query
        description: Data de pagamento de (ISO date format)
        example: '2025-08-15'
        required: false
        schema:
          type: string
          format: date
      - name: data_pagamento_ate
        in: query
        description: Data de pagamento até (ISO date format)
        example: '2025-08-20'
        required: false
        schema:
          type: string
          format: date
      - name: data_alteracao_de
        in: query
        description: Data de alteração de (ISO 8601, São Paulo/GMT-3)
        example: '2025-10-20T07:00:00'
        required: false
        schema:
          type: string
          format: date-time
      - name: data_alteracao_ate
        in: query
        description: Data de alteração até (ISO 8601, São Paulo/GMT-3)
        example: '2025-10-20T07:59:59'
        required: false
        schema:
          type: string
          format: date-time
      - name: valor_de
        in: query
        description: Valor de
        example: '100'
        required: false
        schema:
          type: string
          pattern: ^[0-9]+(\.[0-9]{1,2})?$
          example: '110.10'
      - name: valor_ate
        in: query
        description: Valor até
        example: '500'
        required: false
        schema:
          type: string
          pattern: ^[0-9]+(\.[0-9]{1,2})?$
          example: '110.10'
      - name: status
        in: query
        description: Lista de status da conta
        example: ATRASADO
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - PERDIDO
            - RECEBIDO
            - EM_ABERTO
            - RENEGOCIADO
            - RECEBIDO_PARCIAL
            - ATRASADO
      - name: ids_contas_financeiras
        in: query
        description: Lista de IDs de contas financeiras
        example: 35473eec-4e74-11ee-b500-9f61de8a8b8b
        required: false
        schema:
          type: array
          items:
            type: string
      - name: ids_categorias
        in: query
        description: Lista de IDs de categorias
        example: 35473eec-4e74-11ee-b500-9f61de8a8b8b
        required: false
        schema:
          type: array
          items:
            type: string
      - name: ids_centros_de_custo
        in: query
        description: Lista de IDs de centros de custo
        example: 35473eec-4e74-11ee-b500-9f61de8a8b8b
        required: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  itens_totais:
                    type: integer
                    example: 6
                  itens:
                    type: array
                    items:
                      $ref: '#/components/schemas/ContaAPagar'
                  totais:
                    type: object
                    properties:
                      ativo:
                        type: integer
                        example: 6
                      inativo:
                        type: integer
                        example: 0
                      todos:
                        type: integer
                        example: 6
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
  /v1/financeiro/eventos-financeiros/parcelas/{id}:
    summary: Endpoint de busca de parcelas por id
    get:
      summary: Retornar a parcela por id
      operationId: getInstallmentById
      description: Permite consultar os detalhes de uma parcela específica (de conta a receber ou a pagar) identificada pelo seu id. A resposta traz campos como data de vencimento, valor, status, conta financeira, entre outros.
      tags:
      - v1
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          format: uuid
          example: 9986f173-f531-4660-96ae-04b71c879264
        description: Identificador único da parcela
      responses:
        '200':
          description: Informações da parcela retornadas com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Parcela'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
    patch:
      summary: Atualizar parcialmente uma parcela por id
      operationId: updateInstallment
      description: Permite atualizar parcialmente uma parcela existente identificada pelo id, alterando campos como data de vencimento, valor, observações, conta financeira e outros campos permitidos. Essa operação ajuda a ajustar lançamentos financeiros sem a necessidade de recriá-los.
      tags:
      - v1
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          format: uuid
          example: 9986f173-f531-4660-96ae-04b71c879264
      requestBody:
        description: Campos aceitos para atualização da parcela
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ParcelaAtualizacaoRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParcelaAtualizacaoResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
  /v1/financeiro/eventos-financeiros/alteracoes:
    summary: Endpoint de busca de IDs dos eventos financeiros alterados
    get:
      summary: Retornar os IDs dos eventos financeiros alterados em um período
      operationId: getAlteredFinancialEvents
      description: 'Permite consultar os IDs dos eventos financeiros (contas a pagar e a receber) que foram alterados em um período  definido por data de ínico e fim. Essa funcionalidade é útil para identificar quais eventos sofreram modificações  recentes, facilitando a sincronização e o monitoramento de mudanças nos dados financeiros. Importante: As informações disponíveis indicam a data e hora em que o evento foi salvo, sem detalhar quais campos  foram modificados em cada operação. Salvar um recurso sem alterações reais pode gerar uma entrada no histórico e  atualizar a data do último registro.'
      tags:
      - v1
      parameters:
      - name: pagina
        in: query
        description: Página
        required: false
        example: 1
        schema:
          type: integer
          default: 1
      - name: tamanho_pagina
        in: query
        description: Tamanho da página
        required: false
        example: 10
        schema:
          type: integer
          default: 10
      - name: data_inicio
        in: query
        description: Data inicial do período para filtrar os eventos financeiros alterados (ISO 8601, São Paulo/GMT-3)
        example: '2026-01-01T23:59:59'
        required: true
        schema:
          type: string
          format: date-time
      - name: data_fim
        in: query
        description: Data final do período para filtrar os eventos financeiros alterados (ISO 8601, São Paulo/GMT-3)
        example: '2026-03-12T23:59:59'
        required: true
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  itens_totais:
                    type: integer
                    example: 1
                  itens:
                    type: array
                    items:
                      $ref: '#/components/schemas/EventoFinanceiro'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
  /v1/financeiro/eventos-financeiros/saldo-inicial:
    summary: Endpoint de busca dos saldos iniciais das contas financeiras
    get:
      summary: Retornar os saldos iniciais das contas financeiras
      operationId: getInitialBalancesOfFinancialAccounts
      description: Permite consultar os saldos iniciais das contas financeiras em um período definido por data de início e fim.
      tags:
      - v1
      parameters:
      - name: pagina
        in: query
        description: Página
        required: false
        example: 1
        schema:
          type: integer
          default: 1
      - name: tamanho_pagina
        in: query
        description: Tamanho da página
        required: false
        example: 10
        schema:
          type: integer
          default: 10
      - name: data_inicio
        in: query
        description: Data inicial do período para filtrar os saldos iniciais (ISO 8601, São Paulo/GMT-3)
        example: '2026-01-01T23:59:59'
        required: true
        schema:
          type: string
          format: date-time
      - name: data_fim
        in: query
        description: Data final do período para filtrar os saldos iniciais (ISO 8601, São Paulo/GMT-3)
        example: '2026-03-12T23:59:59'
        required: true
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  itens_totais:
                    type: integer
                    example: 1
                  itens:
                    type: array
                    items:
                      $ref: '#/components/schemas/SaldoInicialContaFinanceira'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
  /v1/produto/busca:
    get:
      summary: Obter produtos por filtro
      operationId: getProductsByFilter
      parameters:
      - name: pagina
        in: query
        required: false
        schema:
          type: integer
          default: 1
        example: 1
      - name: tamanho_pagina
        in: query
        required: false
        schema:
          type: integer
          default: 10
        example: 10
      - name: campo_ordenacao
        in: query
        required: false
        schema:
          type: string
          default: NOME
          enum:
          - NOME
          - CODIGO
          - VALOR_VENDA
          - ESTOQUE
        example: NOME
      - name: direcao_ordenacao
        in: query
        required: false
        description: Direção da ordenação (ASC para ascendente, DESC para descendente).
        schema:
          type: string
          default: ASC
          enum:
          - ASC
          - DESC
      - name: busca
        in: query
        required: false
        description: Buscar produtos por nome ou código.
        example: Produto
        schema:
          type: string
      - name: status
        in: query
        required: false
        description: Status do produto.
        schema:
          type: string
          enum:
          - ATIVO
          - INATIVO
          - TODOS
          default: TODOS
      - name: inicio
        in: query
        required: false
        schema:
          type: number
          example: 10.5
      - name: fim
        in: query
        required: false
        schema:
          type: number
          example: 100.5
      responses:
        '200':
          description: Resposta bem-sucedida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListagemDeProdutosPorFiltroResponse'
      tags:
      - v1
  /v1/produto:
    post:
      summary: Criar um novo produto
      operationId: createProduct
      tags:
      - v1
      requestBody:
        description: Ao cadastrar um novo produto, deve-se observar o formato. Caso seja VARIACAO, o item "variação" é obrigatório.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CriacaoProdutoRequest'
      responses:
        '200':
          description: Produto criado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProdutoResponse'
  /v1/produto/{id}:
    delete:
      summary: Excluir um produto existente
      operationId: deleteProduct
      parameters:
      - name: id
        in: path
        required: true
        example: 123e4567-e89b-12d3-a456-426614174000
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: Produto excluído com sucesso
        '404':
          description: Produto não encontrado
      tags:
      - v1
  /v1/produto/desativar:
    post:
      summary: Desativar produtos
      description: Desativa uma lista de produtos pelo ID.
      operationId: deactivateProducts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                description: Lista de IDs dos produtos a serem desativados.
                type: string
                format: uuid
              example:
              - 123e4567-e89b-12d3-a456-426614174000
              - 34471cce-67a2-48b8-a526-1120c0704ed3
      responses:
        '200':
          description: Produtos desativados com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProdutoDesativadoResponse'
        '400':
          description: Requisição inválida.
        '500':
          description: Erro interno do servidor.
      tags:
      - v1
  /v1/orcamentos:
    get:
      security:
      - BearerAuth: []
      description: Recupera a lista de orçamentos com base nos filtros informados.
      tags:
      - v1
      summary: Retornar orçamentos por filtros
      operationId: listarOrcamentosPorFiltros
      parameters:
      - description: Número da página
        name: pagina
        in: query
        schema:
          type: integer
          default: 1
      - description: Tamanho da página
        name: tamanho_pagina
        in: query
        schema:
          type: integer
          default: 10
      - description: Campo para ordenação ascendente. Se informado ele desconsidera o valor do campo_ordenado_descendente. É possível ordenar pela data da venda (DATA), pelo número da venda (NUMERO) ou pelo nome do cliente (CLIENTE)
        name: campo_ordenado_ascendente
        in: query
        example: DATA
        schema:
          type: string
          enum:
          - DATA
          - NUMERO
          - CLIENTE
      - description: Campo para ordenação descendente. Se este campo for utilizado, o campo campo_ordenado_ascendente não deverá ser informado. É possível ordenar pela data da venda (DATA), pelo número da venda (NUMERO) ou pelo nome do cliente (CLIENTE)
        name: campo_ordenado_descendente
        in: query
        example: DATA
        schema:
          type: string
          enum:
          - DATA
          - NUMERO
          - CLIENTE
      - description: Termo de busca
        name: termo_busca
        in: query
        schema:
          type: string
      - description: 'Data inicial (formato: YYYY-MM-DD)'
        name: data_inicio
        in: query
        schema:
          type: string
      - description: 'Data final (formato: YYYY-MM-DD)'
        name: data_fim
        in: query
        schema:
          type: string
      - description: 'Data de criação inicial (formato: YYYY-MM-DD)'
        name: data_criacao_de
        in: query
        schema:
          type: string
      - description: 'Data de criação final (formato: YYYY-MM-DD)'
        name: data_criacao_ate
        in: query
        schema:
          type: string
      - description: 'Data de alteração inicial (formato: YYYY-MM-DDThh:mm:ss)'
        name: data_alteracao_de
        in: query
        schema:
          type: string
      - description: 'Data de alteração final (formato: YYYY-MM-DDThh:mm:ss)'
        name: data_alteracao_ate
        in: query
        schema:
          type: string
      - description: IDs dos vendedores (UUID)
        name: ids_vendedores
        in: query
        explode: true
        schema:
          type: array
          items:
            type: string
      - description: IDs dos clientes (UUID)
        name: ids_clientes
        in: query
        explode: true
        schema:
          type: array
          items:
            type: string
      - description: IDs das naturezas de operação (UUID)
        name: ids_natureza_operacao
        in: query
        explode: true
        schema:
          type: array
          items:
            type: string
      - description: IDs das categorias (UUID)
        name: ids_categorias
        in: query
        explode: true
        schema:
          type: array
          items:
            type: string
      - description: IDs dos produtos (UUID)
        name: ids_produtos
        in: query
        explode: true
        schema:
          type: array
          items:
            type: string
      - description: Situações dos orçamentos
        name: situacoes
        in: query
        explode: true
        schema:
          type: array
          items:
            enum:
            - ORCAMENTO
            - ORCAMENTO_ACEITO
            - ORCAMENTO_RECUSADO
            type: string
      - description: Origens dos orçamentos
        name: origens
        in: query
        explode: true
        schema:
          type: array
          items:
            type: string
      - description: Números dos orçamentos
        name: numeros
        in: query
        explode: true
        schema:
          type: array
          items:
            type: integer
      - description: IDs legados dos donos
        name: ids_legado_donos
        in: query
        explode: true
        schema:
          type: array
          items:
            type: integer
      - description: IDs legados dos clientes
        name: ids_legado_clientes
        in: query
        explode: true
        schema:
          type: array
          items:
            type: integer
      - description: IDs legados dos produtos
        name: ids_legado_produtos
        in: query
        explode: true
        schema:
          type: array
          items:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListagemOrcamentosPorFiltro'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErroAPI'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErroAPI'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErroAPI'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErroAPI'
    post:
      security:
      - BearerAuth: []
      description: Cria um novo orçamento no sistema da Conta Azul.
      tags:
      - v1
      summary: Criar um orçamento
      operationId: criarOrcamento
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CriarOrcamento'
        description: Dados do orçamento a ser criado
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResumoCriacaoOrcamento'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErroAPI'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErroAPI'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErroAPI'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErroAPI'
    delete:
      security:
      - BearerAuth: []
      description: Permite excluir vários orçamentos de uma vez. Útil durante sincronizações ou processos de limpeza de dados.
      tags:
      - v1
      summary: Excluir orçamentos em lote
      operationId: excluirOrcamentosEmLote
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExclusaoLoteOrcamento'
        description: IDs dos orçamentos a serem excluídos
        required: true
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErroAPI'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErroAPI'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErroAPI'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErroAPI'
  /v1/orcamentos/{id}:
    get:
      security:
      - BearerAuth: []
      description: Recupera os detalhes de um orçamento específico por ID. Útil quando quiser exibir ou sincronizar todos os dados de um orçamento específico.
      tags:
      - v1
      summary: Retornar o orçamento por ID
      operationId: obterOrcamentoPorID
      parameters:
      - description: ID do orçamento (UUID)
        name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Orcamento'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErroAPI'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErroAPI'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErroAPI'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErroAPI'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErroAPI'
  /v1/protocolo/{id}:
    get:
      summary: Retornar o protocolo por id
      operationId: buscarProtocoloPorId
      description: Permite consultar os detalhes de um protocolo específico identificado por id.
      tags:
      - v1
      parameters:
      - name: id
        in: path
        required: true
        example: 123e4567-e89b-12d3-a456-426614174000
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProtocolResponseDTO_2'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
  /v1/venda/vendedores:
    get:
      summary: Retornar os vendedores
      operationId: listVendedores
      description: Retorna a lista de vendedores cadastrados na Conta Azul. Útil quando você precisa atribuir um vendedor a uma venda ou exibir opções de vendedores em sua interface.
      tags:
      - v1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Vendedor'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
  /v1/venda/{id}:
    get:
      summary: Retornar a venda por id
      operationId: getVendaById
      description: Recupera os detalhes de uma venda específica por ID (pode ser UUID ou id legado). Útil quando quiser exibir ou sincronizar todos os dados de uma venda específica.
      tags:
      - v1
      parameters:
      - name: id
        in: path
        required: true
        example: 123e4567-e89b-12d3-a456-426614174000
        schema:
          type: string
        description: O legacy id ou uuid da venda a ser obtida
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObterVendaResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
    put:
      summary: Atualizar uma venda por id
      operationId: editSale
      description: Permite atualizar uma venda existente. Útil se sua aplicação permite editar vendas depois que foram criadas no ERP.
      tags:
      - v1
      parameters:
      - name: id
        in: path
        required: true
        example: 123e4567-e89b-12d3-a456-426614174000
        schema:
          type: string
        description: O uuid da venda a ser editada
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VendaParaEdicaoRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VendaEditadaResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
  /v1/venda/busca:
    get:
      summary: Retornar as vendas por filtro
      operationId: searchVendas
      description: Retorna as vendas filtradas, podendo fazer uso de parâmetros de consulta como data inicial/final, cliente, situação, tipos de venda, IDs de produtos, IDs de categorias, paginação, entre outros. Use esse endpoint para construir telas de listagem, dashboards ou relatórios de vendas.
      tags:
      - v1
      parameters:
      - name: pagina
        in: query
        required: false
        description: Página
        example: 1
        schema:
          type: integer
          default: 1
      - name: tamanho_pagina
        in: query
        required: false
        description: Tamanho da página
        example: 10
        schema:
          enum:
          - 10
          - 20
          - 50
          - 100
          - 200
          - 500
          - 1000
          type: integer
      - name: campo_ordenado_ascendente
        in: query
        required: false
        description: Campo para ordenação ascendente. Se informado ele desconsidera o valor do  campo_ordenado_descendente. É possível ordenar por numero da venda (NUMERO),  pelo nome do cliente (CLIENTE) ou pela data da venda (DATA)
        example: numero
        schema:
          type: string
          enum:
          - NUMERO
          - CLIENTE
          - DATA
      - name: campo_ordenado_descendente
        in: query
        required: false
        description: Campo para ordenação descendente. Se este campo for utilizado, o campo campo_ordenado_ascendente  não deverá ser informado. É possível ordenar por numero da venda (NUMERO), pelo nome do  cliente (CLIENTE) ou pela data da venda (DATA)
        example: numero
        schema:
          type: string
          enum:
          - NUMERO
          - CLIENTE
          - DATA
      - name: termo_busca
        in: query
        required: false
        schema:
          type: string
          description: Termo para busca das vendas por nome, email do cliente ou número da venda
      - name: data_inicio
        in: query
        required: false
        schema:
          type: string
          format: date
          example: '2023-12-30'
        description: Data de início da emissão da venda
      - name: data_fim
        in: query
        required: false
        schema:
          type: string
          format: date
          example: '2023-12-30'
        description: Data final da emissão da venda
      - name: data_criacao_de
        in: query
        required: false
        schema:
          type: string
          format: date
          example: '2023-12-30'
        description: Data de início da criação da venda
      - name: data_criacao_ate
        in: query
        required: false
        schema:
          type: string
          format: date
          example: '2023-12-31'
        description: Data final da criação da venda
      - name: data_alteracao_de
        in: query
        description: Data de alteração de (ISO 8601, São Paulo/GMT-3)
        example: '2025-10-20T07:59:59'
        required: false
        schema:
          type: string
          format: date-time
      - name: data_alteracao_ate
        in: query
        description: Data de alteração até (ISO 8601, São Paulo/GMT-3)
        example: '2025-10-29T07:59:59'
        required: false
        schema:
          type: string
          format: date-time
      - name: ids_vendedores
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
        description: ids dos vendedores
      - name: ids_clientes
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
        description: ids dos clientes
      - name: ids_natureza_operacao
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
        description: ids da natureza da operação
      - name: situacoes
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Situações das vendas
      - name: tipos
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Tipos de vendas
      - name: origens
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Origens das vendas
      - name: numeros
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
        description: Números das vendas
      - name: ids_categorias
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
        description: ids das categorias
      - name: ids_produtos
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
        description: ids dos produtos
      - name: pendente
        in: query
        required: false
        schema:
          type: boolean
        description: Indica se a venda está pendente
      - name: totais
        in: query
        required: false
        schema:
          type: string
        description: Tipo de total de venda. Possiveis valores `WAITING_APPROVED`, `APPROVED`, `CANCELED`, `ALL`
      - name: ids_legado_donos
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
        description: ids legados dos donos
      - name: ids_legado_clientes
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
        description: ids legados dos clientes
      - name: ids_legado_produtos
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
        description: ids legados dos produtos
      - name: ids_legado_categorias
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
        description: ids legados das categorias
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListagemVendasResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
  /v1/venda:
    post:
      summary: Criar uma nova venda
      operationId: createVenda
      description: Cria uma nova venda no sistema da Conta Azul. Ideal para registrar vendas vindas de sistemas externos diretamente no ERP da Conta Azul.
      tags:
      - v1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CriacaoVendaRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CriacaoVendaResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
  /v1/venda/{id}/imprimir:
    get:
      summary: Retornar o PDF de uma venda
      operationId: printVendaPdf
      description: Gera e retorna um PDF da venda identificada pelo ID. Use quando precisar mostrar ao usuário ou armazenar uma versão impressa da venda.
      tags:
      - v1
      parameters:
      - in: path
        name: id
        required: true
        example: 123e4567-e89b-12d3-a456-426614174000
        schema:
          oneOf:
          - type: string
            format: uuid
          - type: integer
        description: id da venda a ser impressa, pode ser passado id ou uuid
      responses:
        '200':
          description: OK
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
  /v1/venda/exclusao-lote:
    post:
      summary: Excluir vendas em lote
      operationId: deleteVendasBatch
      description: Permite excluir várias vendas de uma vez. Útil para excluir em lote vendas de forma automatizada. Útil durante sincronizações ou processos de limpeza de dados.
      tags:
      - v1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExclusaoLote'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExclusaoResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
  /v1/venda/{id_venda}/itens:
    get:
      summary: Retornar os itens de uma venda pelo id da venda
      operationId: getVendaItens
      description: Retorna a lista de itens de uma venda, dado o ID da venda. Use para exibir um detalhe da venda (todos produtos/serviços) ou para sincronizar os itens da venda para outros sistemas.
      tags:
      - v1
      parameters:
      - in: path
        name: id_venda
        required: true
        example: 123e4567-e89b-12d3-a456-426614174000
        schema:
          type: string
          format: uuid
        description: id da venda
      - in: query
        name: pagina
        example: 1
        schema:
          type: integer
          default: 1
        description: Página
      - in: query
        name: tamanho_pagina
        example: 10
        schema:
          enum:
          - 10
          - 20
          - 50
          - 100
          - 200
          - 500
          - 1000
          type: integer
        description: Tamanho da página
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItensPaginados'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
  /v1/venda/proximo-numero:
    get:
      summary: Retornar o próximo número de venda disponível
      operationId: getNextVendaNumber
      description: Retorna o próximo número de venda disponível, segundo a numeração usada no ERP da Conta Azul. Pode ser usado antes de criar uma venda para garantir que você está usando uma sequência de número válida/nova.
      tags:
      - v1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: integer
                format: int64
                nullable: true
                example: 4512645
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
  /v1/contratos/{id}:
    get:
      security:
      - BearerAuth: []
      description: Recupera os detalhes de um contrato específico por ID. Útil quando quiser exibir ou sincronizar todos os dados de um contrato específico.
      tags:
      - v1
      summary: Retornar o contrato por id
      operationId: obterContratoPorID
      parameters:
      - description: ID do contrato (UUID)
        name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContratoResumo'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErroAPI'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErroAPI'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErroAPI'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErroAPI'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErroAPI'
    delete:
      security:
      - BearerAuth: []
      description: Remove um contrato existente. O contrato será excluído permanentemente, cancelando todas as vendas associadas (agendadas e efetivadas). Contratos em reajuste de valor não podem ser removidos.
      tags:
      - v1
      summary: Remover um contrato
      operationId: removerContrato
      parameters:
      - description: ID do contrato (UUID)
        name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErroAPI'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErroAPI'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErroAPI'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErroAPI'
  /v1/contratos/{id}/encerrar:
    post:
      security:
      - BearerAuth: []
      description: Encerra um contrato ativo. O contrato será desativado e não poderá mais gerar novas cobranças. Contratos que estão passando por reajuste de valor não podem ser encerrados.
      tags:
      - v1
      summary: Encerrar um contrato
      operationId: encerrarContrato
      parameters:
      - description: ID do contrato (UUID)
        name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErroAPI'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErroAPI'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErroAPI'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErroAPI'
components:
  schemas:
    CategoriaParcela:
      type: object
      description: Estrutura resumida de categoria enviada em itens de parcela
      properties:
        id:
          type: string
          format: uuid
          description: Identificador único da categoria
          example: b134ec6b-30f8-4edc-9a8f-4787fd3381ac
        nome:
          description: Nome da categoria
          type: string
          example: Adiantamento Salarial
    TipoDePagamento:
      description: Enum de tipo de pagamento
      type: string
      enum:
      - BOLETO_BANCARIO
      - CARTAO_CREDITO
      - CARTAO_DEBITO
      - CARTEIRA_DIGITAL
      - CASHBACK
      - CHEQUE
      - CREDITO_LOJA
      - CREDITO_VIRTUAL
      - DEPOSITO_BANCARIO
      - DINHEIRO
      - OUTRO
      - DEBITO_AUTOMATICO
      - LINK_PAGAMENTO
      - PIX_PAGAMENTO_INSTANTANEO
      - COBRANCA_PIX
      - PROGRAMA_FIDELIDADE
      - SEM_PAGAMENTO
      - TRANSFERENCIA_BANCARIA
      - VALE_ALIMENTACAO
      - VALE_COMBUSTIVEL
      - VALE_PRESENTE
      - VALE_REFEICAO
      x-enum-varnames:
      - PAYMENT_TYPE_BANKING_BILLET
      - PAYMENT_TYPE_CREDIT_CARD
      - PAYMENT_TYPE_DEBIT_CARD
      - PAYMENT_TYPE_DIGITAL_WALLET
      - PAYMENT_TYPE_CASHBACK
      - PAYMENT_TYPE_CHECK
      - PAYMENT_TYPE_STORE_CREDIT
      - PAYMENT_TYPE_VIRTUAL_CREDIT
      - PAYMENT_TYPE_BANKING_DEPOSIT
      - PAYMENT_TYPE_CASH
      - PAYMENT_TYPE_OTHER
      - PAYMENT_TYPE_AUTOMATIC_DEBIT
      - PAYMENT_TYPE_PAYMENT_LINK
      - PAYMENT_TYPE_INSTANT_PAYMENT
      - PAYMENT_TYPE_PIX_CHARGE
      - PAYMENT_TYPE_FIDELITY_PROGRAM
      - PAYMENT_TYPE_WITHOUT_PAYMENT
      - PAYMENT_TYPE_BANKING_TRANSFER
      - PAYMENT_TYPE_FOOD_VOUCHER
      - PAYMENT_TYPE_FUEL_VOUCHER
      - PAYMENT_TYPE_GIFT_VOUCHER
      - PAYMENT_TYPE_MEAL_VOUCHER
    BaixaCriacaoResponseDTO:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 35473eec-4e74-11ee-b500-9f61de8a8b8b
          description: Identificador único gerado automaticamente após a criação
        versao:
          type: integer
          format: int64
          example: 1
          description: Versão da baixa
        data_pagamento:
          type: string
          format: date
          example: '2023-10-01'
          description: Data do pagamento
        composicao_valor:
          $ref: '#/components/schemas/ValorComposicaoDTO'
        conta_financeira:
          type: string
          format: uuid
          example: 35473eec-4e74-11ee-b500-9f61de8a8b8b
          description: Identificador único da conta financeira
        metodo_pagamento:
          type: string
          example: CARTAO_CREDITO
          description: Método de pagamento
          enum:
          - DINHEIRO
          - CARTAO_CREDITO
          - BOLETO_BANCARIO
          - CARTAO_CREDITO_VIA_LINK
          - CHEQUE
          - CARTAO_DEBITO
          - TRANSFERENCIA_BANCARIA
          - OUTRO
          - CARTEIRA_DIGITAL
          - CASHBACK
          - CREDITO_LOJA
          - CREDITO_VIRTUAL
          - DEPOSITO_BANCARIO
          - PIX_PAGAMENTO_INSTANTANEO
        observacao:
          type: string
          example: 'Pagamento referente à fatura #1234.'
          description: Observação
        nsu:
          type: string
          example: '1234567890'
          description: Número sequencial único
    CriacaoVendaRequest:
      type: object
      required:
      - id_cliente
      - numero
      - situacao
      - data_venda
      - itens
      - condicao_pagamento
      properties:
        id_cliente:
          type: string
          format: uuid
          description: id do cliente
          example: 123e4567-e89b-12d3-a456-426614174000
        numero:
          type: integer
          format: int64
          description: Número da venda
          example: 1001
        situacao:
          type: string
          description: Situação da venda
          example: EM_ANDAMENTO
          enum:
          - EM_ANDAMENTO
          - APROVADO
        data_venda:
          type: string
          format: date
          description: Data da venda
          example: '2023-12-31'
        id_categoria:
          type: string
          format: uuid
          description: id da categoria
          example: 123e4567-e89b-12d3-a456-426614174000
        id_centro_custo:
          type: string
          format: uuid
          description: id do centro de custo
          example: 123e4567-e89b-12d3-a456-426614174000
        id_vendedor:
          type: string
          format: uuid
          description: id do vendedor
          example: 40bbdaa5-65c2-49e9-b892-470fd1093ed3
        observacoes:
          type: string
          description: Observações sobre a venda
          example: Observações sobre a venda
        observacoes_pagamento:
          type: string
          description: Observações sobre o pagamento
          example: Observações sobre o pagamento
        itens:
          type: array
          items:
            $ref: '#/components/schemas/ItemVendaRequest'
        composicao_de_valor:
          $ref: '#/components/schemas/ValorComposicaoRequest'
        condicao_pagamento:
          $ref: '#/components/schemas/CondicaoPagamentoRequest'
    EstoqueCriacaoProduto:
      type: object
      properties:
        valor_venda:
          description: Valor de venda do produto.
          type: number
          format: double
          example: 99.99
        custo_medio:
          description: Valor de custo médio do produto.
          type: number
          format: double
          example: 50
        estoque_disponivel:
          description: Quantidade de estoque disponível do produto.
          type: number
          format: double
          example: 50.5
        estoque_minimo:
          description: Quantidade mínima de estoque do produto.
          type: number
          format: double
          example: 1
        estoque_maximo:
          description: Quantidade máxima de estoque do produto.
          type: number
          format: double
          example: 100
    LocalPrestacaoServicoResumo:
      description: Resumo do local de prestação de serviço do contrato
      type: object
      properties:
        nome:
          description: Nome do local de prestação de serviço
          type: string
          example: Escritório Central
    CondicaoPagamento:
      type: object
      required:
      - dia_vencimento
      - primeira_data_vencimento
      properties:
        tipo_pagamento:
          type: string
          description: Tipo de pagamento
          enum:
          - BOLETO_BANCARIO
          - CARTAO_CREDITO
          - CARTAO_DEBITO
          - CARTEIRA_DIGITAL
          - CASHBACK
          - CHEQUE
          - CREDITO_LOJA
          - CREDITO_VIRTUAL
          - DEPOSITO_BANCARIO
          - DINHEIRO
          - OUTRO
          - DEBITO_AUTOMATICO
          - CARTAO_CREDITO_VIA_LINK
          - PIX_PAGAMENTO_INSTANTANEO
          - PIX_COBRANCA
          - PROGRAMA_FIDELIDADE
          - SEM_PAGAMENTO
          - TRANSFERENCIA_BANCARIA
          - VALE_ALIMENTACAO
          - VALE_COMBUSTIVEL
          - VALE_PRESENTE
          - VALE_REFEICAO
          example: BOLETO_BANCARIO
        id_conta_financeira:
          type: string
          format: uuid
          description: id da conta financeira
          example: 123e4567-e89b-12d3-a456-426614174000
        dia_vencimento:
          type: integer
          description: Dia de vencimento
          example: 10
        primeira_data_vencimento:
          type: string
          format: date
[...]
