openapi: 3.2.0
info:
  title: Protocolos Protocolo API
  version: v1
  description: A API de Protocolos é responsável por gerenciar o ciclo de vida de eventos enviados ao ERP, permitindo que sua aplicação acompanhe o processamento do evento financeiro.
servers:
- url: https://api-v2.contaazul.com
  description: Servidor de produção
security:
- BearerAuth: []
tags:
- name: Protocolo
paths:
  /v1/protocolo/{id}:
    get:
      summary: Retornar o protocolo por id
      operationId: buscarProtocoloPorId
      description: Permite consultar os detalhes de um protocolo específico identificado por id.
      tags:
      - Protocolo
      parameters:
      - name: id
        in: path
        required: true
        example: 123e4567-e89b-12d3-a456-426614174000
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProtocolResponseDTO'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '429':
          description: Too Many Requests
        '500':
          description: Internal Server Error
components:
  schemas:
    ProtocolResponseDTO:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Identificador do protocolo
          example: 123e4567-e89b-12d3-a456-426614174000
        resposta:
          type: string
          description: Mensagem do protocolo
          example: Operação realizada com sucesso.
        status:
          type: string
          description: 'Status do protocolo: - PENDING: em processamento - SUCCESS: criado - ERROR: erro na criação'
          enum:
          - PENDING
          - SUCCESS
          - ERROR
          example: SUCCESS
        evento_financeiro_id:
          type: string
          format: uuid
          description: Identificador do evento financeiro
          example: 123e4567-e89b-12d3-a456-426614174000
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Token de autorização Bearer JWT
